@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
/* box sizing property so that if we add any padding to an ::-webkit-progress-inner-element
or border it doesnt change the width  */
* {
  box-sizing: border-box;
}

/*-display flex is the center everything flex grid
-everything will be shown in an row
-flex direction will change the layout as you want it
-aligns the items horizontally
-justfiy content center it veetically
*/

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
